electron-app/XSD/7500 XSD/NOTIFICATIONS XML/Versie 2.0/FATCA-FILE-ERROR-NOTIFICATION-2.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns="urn:fatca:fatcafileerrornotification" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:fnb="urn:fatca:fatcanotificationbase" targetNamespace="urn:fatca:fatcafileerrornotification" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0">
	<xsd:annotation>
		<xsd:appinfo>
			<release>2.0</release>
		</xsd:appinfo>
		<xsd:documentation>
			<Component>
				<DictionaryEntryNm>Schema Components for FATCA File Processing Error Notifications</DictionaryEntryNm>
				<MajorVersionNum>2</MajorVersionNum>
				<MinorVersionNum>0</MinorVersionNum>
				<VersionEffectiveBeginDt>2015-06-01</VersionEffectiveBeginDt>
				<VersionDescriptionTxt>Version 2.0</VersionDescriptionTxt>
				<DescriptionTxt>Schema Components created for FATCA File Processing Error Notifications</DescriptionTxt>
			</Component>
		</xsd:documentation>
	</xsd:annotation>
	<!-- ================ -->
	<!-- ===== Imports ===== -->
	<!-- ================ -->
	<xsd:import namespace="urn:fatca:fatcanotificationbase" schemaLocation="BASE-FATCA-NOTIFICATION-2.0.xsd"/>
	<!-- ============================================================== -->
	<!-- ===== Local Common Aggregate Component (CAC) Elements  ================ -->
	<!-- ============================================================== -->
	<xsd:element name="FATCAFileErrorNotification" type="FATCAFileErrorNotificationType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>FATCA Notification for File Processing Errors</DictionaryEntryNm>
					<MajorVersionNum>2</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2014-12-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Version 2.0</VersionDescriptionTxt>
					<DescriptionTxt>Contains the details of FATCA Notification for File Processing Errors</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- ========================================================================= -->
	<!-- ===== Local Common Aggregate Component (CAC) Complex Type Definitions ================ -->
	<!-- =========================================================================  -->
	<xsd:complexType name="FATCAFileErrorNotificationType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Contains the details of FATCA Notification for File Processing Errors Type</DictionaryEntryNm>
					<MajorVersionNum>2</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2014-12-18</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Version 2.0</VersionDescriptionTxt>
					<Description>Contains the type details of FATCA Notification for File Processing Errors</Description>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="fnb:FATCANotificationHeaderGrp"/>
			<xsd:element ref="fnb:OriginalFileMetadataGrp"/>
			<xsd:element ref="fnb:NotificationContentTxt"/>
			<xsd:element ref="fnb:ActionRequestedGrp"/>
			<xsd:element ref="fnb:HCTATreatyStampTxt" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string" fixed="2.0">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">Notification Schema Version</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>
