electron-app/XSD/7500 XSD/CTS Metadata XML/CTS-SenderFileMetadata-1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com) by Sebastien Michon (OECD) -->
<xsd:schema xmlns="urn:oecd:ctssenderfilemetadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:iso="urn:oecd:ties:isoctstypes:v1" targetNamespace="urn:oecd:ctssenderfilemetadata" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:import namespace="urn:oecd:ties:isoctstypes:v1" schemaLocation="isoctstypes_v1.0.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<release>CTS MetaData Release 1.0</release>
		</xsd:appinfo>
		<xsd:documentation>
			<Component>
				<DictionaryEntryNm>Base Components for CTS Sender File Metadata</DictionaryEntryNm>
				<MajorVersionNum>1</MajorVersionNum>
				<MinorVersionNum>0</MinorVersionNum>
				<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
				<VersionDescriptionTxt>Version 1.0</VersionDescriptionTxt>
				<DescriptionTxt>Base components created for CTS Sender File Metadata</DescriptionTxt>
			</Component>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:element name="CTSSenderFileMetadata" type="CTSSenderFileMetadataType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>CTS Sender File Metadata</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Element Containing CTS Sender File Metadata Details</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CTSSenderFileMetadataType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>CTS Sender File Metadata Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<Description>Type for a group that defines the information contained in the CTS Sender File Metadata</Description>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="CTSSenderCountryCd"/>
			<xsd:element ref="CTSReceiverCountryCd"/>
			<xsd:element ref="CTSCommunicationTypeCd"/>
			<xsd:element ref="SenderFileId"/>
			<xsd:element ref="FileFormatCd" minOccurs="0"/>
			<xsd:element ref="BinaryEncodingSchemeCd" minOccurs="0"/>
			<xsd:element ref="FileCreateTs" minOccurs="0"/>
			<xsd:element ref="TaxYear" minOccurs="0"/>
			<xsd:element ref="FileRevisionInd" minOccurs="0"/>
			<xsd:element ref="OriginalCTSTransmissionId" minOccurs="0"/>
			<xsd:element ref="SenderContactEmailAddressTxt" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="CTSSenderCountryCd" type="iso:CountryCode_Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>CTS Sender Country Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>CTS Sender Country Code</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CTSReceiverCountryCd" type="iso:CountryCode_Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>CTS Receiver Country Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>CTS Receiver Country Code</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OriginalCTSTransmissionId" type="String32Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Original CTS Transmission ID</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Referential CTS Transmission ID for the original file</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SenderFileId" type="StringMax200Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Sender File ID</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Sender specified file ID</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FileCreateTs" type="xsd:dateTime">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>File Creation Timestamp</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Timestamp that the transmission payload is created by Sender Application</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FileRevisionInd" type="xsd:boolean">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>File Revision Indicator</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Indicator if the file has been revised</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CTSCommunicationTypeCd" type="CTSCommunicationTypeCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>CTS Communication Type Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Code for CTS communcation type</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SenderContactEmailAddressTxt" type="StringMax200Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Sender Contact Email Address</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Sender Contact Email Address</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TaxYear" type="YearType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Reporting Year</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Reporting Year in YYYY Format</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="FileFormatCd" type="FileFormatCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>File Format Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>File Format Code</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BinaryEncodingSchemeCd" type="BinaryEncodingSchemeCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Binary Encoding Scheme Code</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Binary Encoding Scheme for the Content</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="FileFormatCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>File Format Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Type for File Format Codes</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="XML">
				<xsd:annotation>
					<xsd:documentation>XML</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TXT">
				<xsd:annotation>
					<xsd:documentation>Plain Text</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PDF">
				<xsd:annotation>
					<xsd:documentation>PDF</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="RTF">
				<xsd:annotation>
					<xsd:documentation>Rich Text Format</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="JPG">
				<xsd:annotation>
					<xsd:documentation>Picture in JPEG Format</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BinaryEncodingSchemeCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Binary Encoding Scheme Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Type for Binary Encoding Scheme Codes</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NONE">
				<xsd:annotation>
					<xsd:documentation>No Special Encoding</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BASE64">
				<xsd:annotation>
					<xsd:documentation>Base64 Encoded</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CTSCommunicationTypeCdType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>CTS Communication Type Code Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<DescriptionTxt>Type for CTS communication type codes</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="CRS">
				<xsd:annotation>
					<xsd:documentation>CRS Report</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CRSStatus">
				<xsd:annotation>
					<xsd:documentation>CRS Status Message</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ETR">
				<xsd:annotation>
					<xsd:documentation>ETR Report</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ETRStatus">
				<xsd:annotation>
					<xsd:documentation>ETR Status Message</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CBC">
				<xsd:annotation>
					<xsd:documentation>CbC Report</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CBCStatus">
				<xsd:annotation>
					<xsd:documentation>CbC Status Message</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String20Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Type for string with length of 20</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<Description>Type for defining a string with length of 20</Description>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="String32Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Type for string with length of 32</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<Description>Type for defining a string with length of 32 (usually for an ID element)</Description>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMax5Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Type for string with maximum length of 5</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<Description>Type for defining a string with maximum length of 5</Description>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="StringMax200Type">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Type for string with maximum length of 200</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial Version</VersionDescriptionTxt>
					<Description>Type for defining a string with maximum length of 200</Description>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="YearType">
		<xsd:annotation>
			<xsd:documentation>
				<Component>
					<DictionaryEntryNm>Year Type</DictionaryEntryNm>
					<MajorVersionNum>1</MajorVersionNum>
					<MinorVersionNum>0</MinorVersionNum>
					<VersionEffectiveBeginDt>2016-09-01</VersionEffectiveBeginDt>
					<VersionDescriptionTxt>Initial version</VersionDescriptionTxt>
					<DescriptionTxt>Year in the format of YYYY</DescriptionTxt>
				</Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:gYear">
			<xsd:minInclusive value="1000"/>
			<xsd:maxInclusive value="9999"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
