electron-app/XSD/7500 XSD/FCE XML/Versie 1.5/FatcaCrsEsrr_v1.5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:oecd_ftc="urn:fatcacrsesrr:ties:v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sfa_ftc="urn:oecd:ties:fatcacrsesrrtypes:v1" xmlns:sfa="urn:oecd:ties:stffatcatypes:v1" xmlns:iso="urn:oecd:ties:isofatcatypes:v1" targetNamespace="urn:fatcacrsesrr:ties:v1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2">
	<xsd:import namespace="urn:oecd:ties:isofatcatypes:v1" schemaLocation="isofatcatypes_v1.0.xsd"/>
	<xsd:import namespace="urn:oecd:ties:stffatcatypes:v1" schemaLocation="stffatcatypes_v1.1.xsd"/>
	<xsd:import namespace="urn:oecd:ties:fatcacrsesrrtypes:v1" schemaLocation="FatcaCrsEsrrTypes_v1.5.xsd"/>
	<!-- FATCA_CRS_ESRR Message structure  -->
	<xsd:element name="FATCA_CRS_ESRR">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="MessageHeader" type="sfa_ftc:MessageSpec_Type"/>
				<xsd:element name="MessageBody" type="sfa_ftc:Fatca_Crs_Esrr_Type" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute name="version" type="xsd:string" use="required" fixed="1.5">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">FATCA CRS ESRR Version </xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<!-- -->
</xsd:schema>
